.HA_VERSION
.cloud
.uuid
deps
home-assistant_v2.db
secrets.yaml
secrets
tts
*.log
*.conf
*.crt
*.key
*.pid
__pycache__

ip_bans.yaml

# homekit
*.state
*.conf

# Run helper
frp
shell

# IDE project
.vscode
.idea
